@import "@/App";

.about-page {
  &__header {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;

    opacity: 1;
    transform: translateY(0);
    animation: fade-in 0.6s ease-in;

    div {
      flex: 1;
      text-align: left;

      img {
        border-top-left-radius: 0.2rem;
        border-bottom-left-radius: 0.2rem;
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2rem;

      h2 {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
        color: black;
      }

      p {
        font-size: 1rem;
        color: #666;
        margin-bottom: 0.75rem;
      }
    }
  }

  &__intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem;

    &__intro-item {
      border: 1px solid #ccc;
      width: 25%;

      &__icon {
        @extend .icon;
      }

      &:hover {
        background-color: #db4444;
        transition: 0.2s;
        border: none;

        .about-page__intro__intro-item__icon {
          box-shadow: 0 0 0px 6px rgba(255, 255, 255, 0.5);
          background-color: white;
          padding: 0.4rem;

          svg {
            width: 1.5rem;
            height: 1.5rem;
            color: black;
          }
        }

        .about-page__intro__intro-item__title,
        .about-page__intro__intro-item__description {
          color: white;
        }
      }
    }
  }

  &__team {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;

    margin-top: 2rem;

    &__avatar {
      flex-grow: 1;
      width: 100%;
      &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__feature {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    max-width: 1000px;
    margin-top: 2rem;

    &__feature-item {
      margin: 1rem;
      width: 20rem;

      &__icon {
        @extend .icon;
      }

      &__title {
        margin-top: 0.3rem;
        font-size: 18px;
      }

      &__description {
        font-size: 14px;
        color: #666;
      }
    }
  }
}

.icon {
  margin-bottom: 0.8rem;
  background-color: black;
  border-radius: 50%;
  padding: 0.4rem;
  box-shadow: 0 0 0px 6px rgba(156, 156, 156, 0.5);

  svg {
    width: 1.5rem;
    height: 1.5rem;
    color: white;
  }
}

@include sm {
  .about-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    &__header {
      flex-direction: column;
      align-items: center;

      &__text {
        text-align: center;
        padding: 1rem;
      }

      img {
        width: 100vw;
        padding: 1rem;
        border-radius: 0.2rem;
      }
    }

    &__intro {
      display: grid;
      grid-template-columns: 50% 50%;

      &__intro-item {
        width: 100%;
        max-width: 300px;
      }
    }

    &__team {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: minmax(150px, 1fr);
      overflow-x: auto;
      overflow-y: hidden;
      gap: 1rem;
      padding: 1rem;
      scroll-snap-type: x mandatory;
      &::-webkit-scrollbar {
        display: none;
      }

      &__avatar {
        width: 100%;
        max-width: 300px;
      }
    }

    &__feature-item {
      margin: 1rem;
      width: fit-content;
    }

    &__feature {
      display: flex;
      flex-direction: column;
    }
  }
}

@keyframes fade-in {
  0% {
    /* Effect values */
    opacity: 0;
    transform: translateY(50px);
  }
}
