@import "@/App";

.wishlist-page {
  padding: 1rem;

  &__title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    h2 {
      font-size: 1rem;
      font-weight: 600;
    }

    &__button {
      font-size: 1rem;
      @extend .outline-button;
    }
  }

  &__wishlist-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-flow: column;
    grid-auto-columns: minmax(150px, 1fr);
    overflow-x: auto;
    overflow-y: hidden;
    gap: 0.5rem;
    padding: 1rem;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      display: none;
    }

    &--empty {
      width: 100%;
      text-align: center;
      font-size: 1rem;
      color: #666;
    }

    &--loading {
      width: 100%;
      text-align: center;
      font-size: 1rem;
      color: #666;
    }

    @include sm {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      grid-auto-flow: row;
      overflow-x: hidden;
    }
  }
}

.outline-button {
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  border: 0.5px solid #ccc;
  border-radius: 0;
}
