.btn {
    position: relative;
    width: fit-content;
    margin-right: 8px;
    margin-left: 8px;
}

.btn > span {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(-50%, -50%);
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 10rem;
  background-color: #dc3545; 
}
