@import "@/App";

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 2rem;
  height: 100%;

  &__personal-fields {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    &__title {
      width: 100%;
      &__inline-fields {
        width: 100%;
        @extend .input-style;
      }

      .error-field {
        border: #f74e4e 1px solid;
      }

      &__error {
        @extend .error-message;
      } 
    }

    @include sm {
      flex-direction: column;
    }
  }

  &__message {
    &__message-field {
      @extend .input-style;
    }

    &__error {
      @extend .error-message;
    }
  }

  &__submit-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    &__submit-button {
      width: fit-content;
      background-color: #db4444;
      color: white;
      padding: 0.5rem 1rem;
      border-radius: 0.2rem;
    }
  }
}

.input-style {
  width: 100%;
  padding: 0.5rem;
  background-color: #f5f5f5;
  border-radius: 0.15rem;
}

.error-message {
  color: red;
  font-size: 0.7rem;
  margin-top: 0.2rem;
}