.manage-account-page {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 2rem;

    &__sidebar {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        
        label {
            font-size: 1rem;
            font-weight: 600;
        }

        ul {
            padding-left: 1rem;
            font-size: 0.8rem;
            margin-top: 0.7rem;

            li {
                margin-bottom: 0.5rem;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
    }
}